
<div class="footer">
        <div class="container">
            <div class="footer-top-at">
                <div class="col-md-3 amet-sed">
                    <h4>Our Company</h4>
                    <ul class="nav-bottom">
                        <li><a href="about.html">About Us</a></li>
                        <li><a  routerLink="/contact">Contact Us</a></li>
                      
                      
                        
                    </ul>	
                </div>
                <div class="col-md-3 amet-sed ">
                    <h4>Work With Us</h4>
                        <ul class="nav-bottom">
                                <li><a  routerLink="/career">Internship</a></li>
                                
                            <li><a  routerLink="/career">Careers</a></li>
                            <li><a  routerLink="/contact">Feedback</a></li>	
                        </ul>	
                </div>
                <div class="col-md-3 amet-sed">
                    <h4>Customer Support</h4>
                    <p>Mon-Fri, 7AM-7PM </p>
                    <p>Sat-Sun, 8AM-5PM </p>
                    <p> Mob : +917387242702</p>
                 
                      	
                </div>
                <div class="col-md-3 amet-sed ">
                    <h4>Our Services</h4>
                       <ul class="nav-bottom">
                            <li><a  routerLink="/services">Web Developement</a></li>
                            <li><a  routerLink="/services">Web Applications</a></li>
                            <li><a  routerLink="/services">Android Developement</a></li>
                            <li><a  routerLink="/services">Software Developement</a></li>
                            <li><a  routerLink="/services">E-Commerce Solutions </a></li>	
                        </ul>	
                        <ul class="social">
                            <!-- <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i class="gmail"> </i></a></li>
                            <li><a href="#"><i class="twitter"> </i></a></li>
                            <li><a href="#"><i class="camera"> </i></a></li>
                            <li><a href="#"><i class="dribble"> </i></a></li> -->
                        </ul>
                </div>
            <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <!-- <div class="col-md-4 footer-logo">
                    <h2><a href="index.html">REAL HOME</a></h2>
                </div> -->
                <div class="col-md-7 footer-class">
                    <p >© 2017 xTantransh Technologies. All Rights Reserved | Design by  -  <a href="http://xtantransh.com/" target="_blank"> xTantransh Technologies</a> </p>
                </div>
            <div class="clearfix"> </div>
             </div>
        </div>
    </div>