<div class="bluebox">
        <h1>Connect with xTantransh</h1>
    </div>

    
<div class="container">
  <div class="row text-center">
    

</div><!-- /.row -->
</div><!-- /.container -->
     <div class="container">
        <div class="row form-container ">
            <div class="col-md-12">
            <div class="col-md-6">
            <mat-card class="cards">
                        <h3>Stay in touch</h3>
                        <br>
                 <form class="ajax-form" id="contactForm"  (ngSubmit)="onFrmSub(myFrm)" #myFrm="ngForm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name..."  [(ngModel)]="dtFrm.name" required  #usNm="ngModel">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email..." [(ngModel)]="dtFrm.email" required>
                        </div>
                        <div class="form-group">
                            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your phone..."  [(ngModel)]="dtFrm.message" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" name="message" placeholder="Your message..."  [(ngModel)]="dtFrm.phone"required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-default"><i class="fa fa-paper-plane fa-fw"></i> Send</button>
                        </div>
                    </form>
            </mat-card>
            </div>
            <div id="sidebar" (click)="next()">
               <div class="thk">
                  asd
               </div>
            </div>
            <div class="col-md-6">
                    <mat-card class="cards "style="line-height:30px;        ">
        
                        <h3>Contact Us</h3> <br>
                      



                        developers@xtantransh.com<br>
                        xtantransh@gmail.com<br>
                        Address:Pune, Maharashtra.<br>
                    </mat-card>
                    </div> 




        </div>
    </div>
    </div><!-- /.container -->
    <!-- <app-footer></app-footer> -->