

<div class="row">
<div class="bluebox">
    <h1>Work with xTantransh</h1>

</div>
<div class="well">
    <h3>Careers</h3><br>
        If you believe you have the right combination of passion, proficiency and
         tenacity to join our team, then perhaps xTantransh is the place for you!
        xTantransh offers great diversity with varied employment opportunities, 
        a wide range of services with a wide range of Technologies.
         We have it all ­ exceptional people, great lifestyle choices, 
         modern workplace facilities, all the services and facilities 
         needed to make a safe and peaceful environment for working.
        You can become a part of xTantransh which has a friendly environment
         and make the most of who you are.
        <br><br><br>
        <div class="alert alert-success">
               <h4> Send your resume at xtantransh@gmail.com</h4>
                </div>
      </div>
      <div>
         
      </div>
<!-- <app-footer></app-footer> -->`