
<app-xtantransh></app-xtantransh>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <h2> <br> Happy &amp; Excited About xTantransh</h2>
                    <p>  We, xTantransh belives in Coming together is a Begining; Keeping together is a Progress; Working together is Success. There are no secrets to success. It is the result of preparation, hard work and learning from failure.&nbsp;</p> <br>
                    <p>xTantransh develops Native Apps, Web Apps, Enterprise Apps as well as  cross-platform Mobile Apps. Well-made cross-platform mobile app will carry the advantage that users on more than one platform have access to your product or service.</p>
                  <br>         
                  <blockquote class="well fnt">
                <blockquote style="border-color:red">
                    "It's fine to celebrate success but it is more important to heed the lessons of failure."<br>
                   <h5>   -  xTantransh </h5>
                </blockquote>                                                                                   
                </blockquote>
        </div> 
        
        <div class="col-md-6">
            <!-- Display image -->
            <img src="assets/images/xtantransh.jpg" class="img-responsive">
        </div> 
    </div> 
  </div>



   
  <div class="services">
    <div class="container">
        <div class="service-top">
            <h3> Our Services</h3>
            <p>We Do Our Best With Latest And Updated Technologies  For The Client</p>
        </div>
        <div class="services-grid">
               <div class="col-md-6 service-top1">
                   <div class="ser-grid">	
                       <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-object-align-left"> </a>
                   </div>
                   <div  class="ser-top">
                       <h4>Web App Development</h4>
                       <p>We build Web Applications for various domains As per Client requirement and 
                         Many More. </p>
                   </div>
                <div class="clearfix"> </div>
              </div>
            <div class="col-md-6 service-top1">
                   <div class=" ser-grid">	
                       <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>
                   </div>
                   <div  class="ser-top">
                       <h4> UI/UX Design</h4>
                       <p>Thinking, Imagination, work experience and employee engagement are the essentials for great customer experience. </p>
                   </div>
                <div class="clearfix"> </div>
               </div>
           <div class="clearfix"> </div>
     </div>
     <div class="services-grid">
               <div class="col-md-6 service-top1">
                   <div class=" ser-grid">	
                       <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>
                   </div>
                   <div  class="ser-top">
                       <h4>iOS / Android / Windows</h4>
                           <p>We build iOS / Android / Window  Native Mobile Apps as well as Cross-Platform Apps.  </p>
                   </div>
                <div class="clearfix"> </div>
               </div>
            <div class="col-md-6 service-top1">
                   <div class=" ser-grid">	
                       <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-globe"> </a>
                   </div>
                   <div  class="ser-top">
                       <h4>Digital Marketing</h4>
                       <p>We make you Brand in the Current Market. Drive relevant traffic to your website and increase your online sales.
                            </p>
                    </div>
                <div class="clearfix"> </div>
               </div>
             <div class="clearfix"> </div>
         </div>
    </div>
</div>
<!--//services-->


<div class="project">
	<div class="container"> 
		<h3>Project Gallery</h3>
		 <div class="row">
			 <div class="col-md-12">
				 <div class="col-md-4">  <br>
							<mat-card (click)="cardclick('ge')">           
								   <img src="assets/img/geeta.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
								   <br>                                                                       
								   <div class="adjust">
                                       <hr>
									<strong>Geeta</strong>
                                   </div>
							</mat-card>
				  </div>

				
				 <div class="col-md-4">
			<br>
			
							<mat-card (click)="cardclick('ss')">
									<img src="assets/img/solar.png" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
									<br>                                        
									<div class="adjust">
                                        <hr>
									<strong>Solar System</strong>
									
									</div>
								
							</mat-card>                    
                </div>
                

                <div class="col-md-4">
                    <br>
                   <mat-card (click)="cardclick('ch')">
                            <img src="assets/img/raje.jpg" class="img-responsive img-circle tm-border    " alt="templatemo easy profile">
                            <br>
                            <div class="adjust">
                                <hr>
                            <strong>Chhatrapati Shivaji Maharaj</strong>
                         
                            </div>
                    </mat-card>
      </div>

<br><br>
<div class="row">
<div class="col-md-12">
		<div class="col-md-4">
			<br>
					<mat-card (click)="cardclick('aw')">
							<img src="assets/img/arti.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
							<br>                                                                
							<div class="adjust">
                                <hr>
							<strong>Aarti Vishwa</strong>
						
							</div>
				
						</mat-card> 
		</div>
		<div class="col-md-4">
				<br>
				<mat-card (click)="cardclick('yc')">
							<img src="assets/img/ycicl.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
							<br>
							<div class="adjust">
                                <hr>
							<strong>YCICL Jobz</strong>
							</div>
						   </mat-card> 
		</div>                      

		<div class="col-md-4">
				<br>
				
				<mat-card (click)="cardclick('sv')">
							<img src="assets/img/svcet.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
							<br>                               
							<div class="adjust">
                                <hr>
							<strong>SVCET</strong>
					
							</div>
						
				   </mat-card>
		</div>
</div>
</div>
			 </div>
		 </div>			 			
	</div>
</div>

<!-- <div class="content-bottom">
    <div class="container">
      <h3>Testimonials</h3>
        <div class="col-md-6 name-in">
           <div class="bottom-in ">
                <p class="para-in">Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <i class="dolor"></i>
                <div class="review">
                    <img src="assets/images/av.png"  class="img-responsive img-circle tm-border imgs" alt="templatemo easy profile">
                  <div class="men review">
                    <span>Stev Jobs</span>
                    <p>Ut enim ad minim</p>
                  </div>
                </div>
              </div> 
        </div>
    </div>
  </div>		 -->

  <!-- <div class="content-bottom">
    <div class="container">
     <h3>Our Partners</h3>
 <div class="row">
   <div class="col-md-12">
     <div class="col-md-3">
         <a href="#"><img class="img-responsive" src="assets/images/lg.png" alt=""></a>   
     </div>
     <div class="col-md-3">
          <a href="#"><img class="img-responsive" src="assets/images/lg3.png" alt=""></a>    
     </div>
     <div class="col-md-3">
          <a href="#"><img class="img-responsive" src="assets/images/lg4.png" alt=""></a>     
     </div>
     <div class="col-md-3">
         <a href="#"><img class="img-responsive" src="assets/images/lg6.png" alt=""></a>   
     </div>
       </div>
 </div>
<br> <br>
 <div class="row">
     <div class="col-md-12">
       <div class="col-md-3">
            <a href="#"><img class="img-responsive" src="assets/images/lg.png" alt=""></a>
           
       </div>
       <div class="col-md-3">
           <a href="#"><img class="img-responsive" src="assets/images/lg3.png" alt=""></a>
           
       </div>
       <div class="col-md-3">
            <a href="#"><img class="img-responsive" src="assets/images/lg4.png" alt=""></a>
           
       </div>
       <div class="col-md-3">
           <a href="#"><img class="img-responsive" src="assets/images/lg6.png" alt=""></a>
           
       </div>
       
     </div>
   </div>
   </div>
 </div>	 -->
 <!-- <app-footer></app-footer> -->
