<div class="row title">
  <h1>Android Apps</h1>
</div>
<div class="row">
  <div class="col-md-12">
            <hr>
      <div class="col-md-4"> 

            <mat-card class="hq" *ngIf="!showCard1"> 
                        <div>
                        <img src="assets/img/geeta.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                               
                  </div>
                                                                                     
                          
                            <div class="clearfix" style="text-align:center" (click)="showCard1=!showCard1"> 
                                    <strong>Geeta</strong><br>
                              <a  class="hvr-sweep-to-right more">See Details</a>
                             </div>
                   </mat-card>

            <mat-card *ngIf="showCard1" class="hq">        
                   <div class="kahizala">   
                    <div class=" ser-grid"(click)="showCard1=!showCard1">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>
                    <div class=" ser-grid pull-right">                          
                              <a  href="https://play.google.com/store/apps/details?id=com.raj.bhagvatgeeta&hl=en"
                                    target="_blank"
                                    class="hi-icon hi-icon-archive">
                                    <img width="90px" class="pull-left"
                                    src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                              </div>
                        </div> 
                      <div class="adjust">
                            Bhagvat Geeta is whole communication that happens between
                             Bhagvan Shrikrishna and Arjun. 
                             This app contains whole 18 chapters of Bhagvat Geeta.
                      </div>
           
            </mat-card>
      </div>



      <div class="col-md-4">  
        <mat-card class="hq" *ngIf="!showCard"> 
              <div> 
            <img src="assets/img/solar.png" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
      </div>                                                                   
               
                
          
                <div class="clearfix" style="text-align:center" (click)="showCard=!showCard"> 
                        <strong>Solar System</strong><br>
                <a  class="hvr-sweep-to-right more">See Details</a>
                 </div>
            </mat-card>
            <mat-card *ngIf="showCard" class="hq">    
                        <div class="kahizala"> 
                    <div class=" ser-grid"(click)="showCard=!showCard">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>
                    <div class=" ser-grid pull-right">                          
                              <a  href="https://play.google.com/store/apps/details?id=com.hrapps.solarsystem&hl=en"
                                    target="_blank"
                                    class="hi-icon hi-icon-archive">
                                    <img width="90px" class="pull-left"
                                    src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                              </div>
                        </div> 
                      <div class="adjust">
                            This app gives a information of our solar system.
                            App provide basic information and some interesting facts about each planet.
                      </div>
                      <!-- <div class="cntrbtn">
                            <a  href="https://play.google.com/store/apps/details?id=com.hrapps.solarsystem&hl=en" target="_blank" class="hvr-sweep-to-right more">  <img width="40px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png">Playstore</a>
                      </div>                -->
            </mat-card>
      </div>



      <div class="col-md-4"> 
        <mat-card class="hq" *ngIf="!showCard2">  
           
                                                                                       
                 <div >
                        <img src="assets/img/raje.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                </div>
                <div class="clearfix" style="text-align:center" (click)="showCard2=!showCard2"> 
                        <strong>Chhatrapati Shivaji Maharaj</strong> <br>
                <a  class="hvr-sweep-to-right more">See Details</a>
                 </div>
            </mat-card>
            <mat-card *ngIf="showCard2" class="hq"> 
                        <div class="kahizala"> 
                    <div class=" ser-grid"(click)="showCard2=!showCard2">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>
                    <div class=" ser-grid pull-right">                          
                              <a  href="https://play.google.com/store/apps/details?id=com.Chatrapati.ShivajiMaharaj&hl=en"
                                    target="_blank"
                                    class="hi-icon hi-icon-archive">
                                    <img width="90px" class="pull-left"
                                    src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                              </div>
                        </div> 
                      <div class="adjust">
                            Chatrapati Shivaji Maharaj was the founder of the Maratha Empire.
                             He is one of the greatest warriors.
                              This app contain Some Useful information about Chhatrapati Shivaji Maharaj.
                      </div>
                      <!-- <div class="cntrbtn">
                            <a  href="https://play.google.com/store/apps/details?id=com.Chatrapati.ShivajiMaharaj&hl=en" target="_blank" class="hvr-sweep-to-right more">  <img width="40px" class="pull-left" src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png">Playstore</a>
                      </div>                 -->
            </mat-card>
      </div>


      <div class="col-md-4">  <br>
        <mat-card class="hq" *ngIf="!showCard3">  
                                                                                       
                 <div >
                        <img src="assets/img/ycicl.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                        
                </div>
                <div class="clearfix" style="text-align:center" (click)="showCard3=!showCard3"> 
                        <strong>YCICL_Jobz</strong> <br>
                        
                <a  class="hvr-sweep-to-right more">See Details</a>
                 </div>
            </mat-card>
            <mat-card *ngIf="showCard3" class="hq">       
                    <div class="kahizala">                                             
                    <div class=" ser-grid"(click)="showCard3=!showCard3">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>

                    <div class=" ser-grid pull-right">                          
                              <a  href="https://play.google.com/store/apps/details?id=com.xtantransh.ycicl&hl=en"
                                    target="_blank"
                                    class="hi-icon hi-icon-archive">
                                    <img width="90px" class="pull-left"
                                    src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                              </div>
                        </div> 
                               
                      <div class="adjust">
                            Youth Career Information Center & Lib is always conscious about students
                             and their career.It will help students to build their career.               
                      </div>
            </mat-card>
      </div>

      <div class="col-md-4">  <br>
        <mat-card class="hq" *ngIf="!showCard4">  
                                                                                      
                 <div>
                        <img src="assets/img/arti.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                        
                </div>
                <div class="clearfix" style="text-align:center" (click)="showCard4=!showCard4"> 
                        <strong>Aarti Vishwa</strong> <br> 
                        
                <a  class="hvr-sweep-to-right more">See Details</a>
                 </div>
            </mat-card>
            <mat-card *ngIf="showCard4" class="hq">  
                  <div class="kahizala">         
                    <div class=" ser-grid"(click)="showCard4=!showCard4">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>

                    <div class=" ser-grid pull-right">                          
                              <a  href="https://play.google.com/store/apps/details?id=com.xtantransh.aartivishwa&hl=en"
                                    target="_blank"
                                    class="hi-icon hi-icon-archive">
                                    <img width="90px" class="pull-left"
                                    src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                              </div>
                        </div> 
                      <div class="adjust">
                            The app is having the Aarti of all our gods which are used at
                             the time of Ganpati Festival.It also contain the rare photo's
                              & aarti of Prabhu Vishwakarma which is in the Marathi.
                      </div>
                   
                     
            </mat-card>
      </div>
 

      <div class="col-md-4">  <br>
        <mat-card class="hq" *ngIf="!showCard5">  
                                                                                       
                 <div>
                        <img src="assets/img/svcet.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
                        
                </div>
                <div class="clearfix" style="text-align:center" (click)="showCard5=!showCard5"> 
                        <strong>SVCET</strong><br> 
                        
                <a  class="hvr-sweep-to-right more">See Details</a>
                 </div>
            </mat-card>

       <mat-card *ngIf="showCard5" class="hq">  
             
            <div class="kahizala" >
                    <div class=" ser-grid"(click)="showCard5=!showCard5">	
                        <a class="hi-icon hi-icon-archive glyphicon glyphicon-remove"> </a>
                    </div>  
                  <div class=" ser-grid pull-right">                          
                  <a  href="https://play.google.com/store/apps/details?id=com.xtantransh.svcet&hl=en"
                        target="_blank"
                        class="hi-icon hi-icon-archive">
                        <img width="90px" class="pull-left"
                        src="http://www.userlogos.org/files/logos/jumpordie/google_play_04.png"></a>
                  </div>  
            </div>       
                        <div class="adjust">
                            This is Digital Notfication application (Digital College) only For the 
                            Students of sahyadri valley college of engineering & technology,Rajuri.
                         </div>                                     
            </mat-card>
      </div>


  </div>
</div>